

[*.cs]
csharp_style_namespace_declarations = file_scoped

# # Microsoft analyzer overrides
# dotnet_diagnostic.CA1822.severity = warning # Mark static methods as warning
# dotnet_diagnostic.CA1304.severity = error # CultureInfo as error

# Нельзя называть тип Option
dotnet_diagnostic.CA1716.severity = none
dotnet_diagnostic.CA1720.severity = none

### Документация -----------------------------

# Должна быть документация
# dotnet_diagnostic.CS1591.severity = warning
# TODO влкючить xml комментарии
dotnet_diagnostic.CS1591.severity = none



### Корректность --------------------------------
# не полный switch (можно позже включить как error)
dotnet_diagnostic.CS8509.severity = none
# Не использовать просто Exception (сменить на error) TODO
dotnet_diagnostic.CA2201.severity = none
# Страшно я не понял GC
dotnet_diagnostic.CA1816.severity = warning
# Оптмизация
dotnet_diagnostic.CA1859.severity = warning
# Строки
# TODO включить
dotnet_diagnostic.CA1305.severity = none 
dotnet_diagnostic.CA1310.severity = warning


dotnet_diagnostic.CS9107.severity = none 

dotnet_diagnostic.CA1816.severity = none 
dotnet_diagnostic.CA1859.severity = none 


### Спорные стили

# Тернарники:
# - избегаем вложенных/цепочных тернарных операторов;
# - для множественных веток предпочитаем switch/switch-expression или if/else.
# Полного встроенного правила на "запрет nested ternary" в Roslyn нет,
# поэтому усиливаем смежные проверки:
dotnet_diagnostic.IDE0066.severity = warning
dotnet_diagnostic.IDE0160.severity = none
dotnet_diagnostic.IDE0008.severity = none
dotnet_diagnostic.IDE0055.severity = none
dotnet_diagnostic.IDE0048.severity = none
dotnet_diagnostic.IDE0058.severity = none
dotnet_diagnostic.IDE0075.severity = warning
csharp_style_prefer_switch_expression = true:warning

# Generic начинается с T
dotnet_diagnostic.CA1715.severity = none

dotnet_diagnostic.CA1707.severity = none

# Formatting rules
dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = all

[**/Migrations/*.cs]
dotnet_analyzer_diagnostic.severity = none

[*.g.cs]
dotnet_analyzer_diagnostic.severity = none

[**/obj/**]
dotnet_analyzer_diagnostic.severity = none
