bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
**/**/appsettings.Development.json
**/.env.local
*.local.env

.idea/**

**/wwwroot


**/TestResults.trx
ReData.sln.DotSettings.user
# Local QA artifacts
/docs/tests/
