@import "ng-zorro-antd/ng-zorro-antd.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";



@font-face {
  font-family: "Fira Code";
  src: url("./assets/FiraCode-Light.ttf") format("truetype");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ace-warning {
  //border: solid red 2px;
  border-radius: 0 !important;
  height: 21px !important;
  border-style: solid;
  border-color: red;
  border-bottom-width: 2px;
  position: absolute;
}



.function-item {
  //margin-bottom: 16px;
}

.function-signature {
  //font-weight: normal;
  //background-color: red;
}


.argument {
  //margin-left: 16px;
  //display: block;
  color: #333;
}

.type {
  display: inline-block;
  color: #0066cc;
  font-weight: bold;
}

.return-type {
  color: #0066cc;
  display: inline-block;
  font-weight: bold;
}

.function-doc {
  //background-color: #0066cc;
  color: #666;
  font-size: 15px;
  //margin-top: -20px;
}

.argument-line {
  //padding-left: 12px;
}

.ace_doc-tooltip {
  max-width: 400px !important;
}

